
$base-color: #000;
$border-color: #888;

$ring-color-high-0: #e00;
$ring-color-high-1: #0b0;
$ring-color-low-0: #000;
$ring-color-low-1: #ffe;

$font-family: Impact;
$font-size: 40;
$font-color: #eee;


body {
  height: 100%;
}

#darts-ui {
  width: 100%;
  height: 100%;
}

.base {
  fill: $base-color;
  stroke: $border-color;
  stroke-width: 3;
}

.high-ring {
  .ring {
    &:nth-child(odd) {
      stroke: $ring-color-high-0;
    }

    &:nth-child(even) {
      stroke: $ring-color-high-1;
    }
  }
}

.single {
  .ring {
    &:nth-child(odd) {
      stroke: $ring-color-low-0;
    }

    &:nth-child(even) {
      stroke: $ring-color-low-1;
    }
  }
}

.bull {
  stroke: $border-color;
  stroke-width: 1;
}

.bull-outer {
  fill: $ring-color-high-0;
}

.bull-inner {
  fill: $ring-color-low-0;
}

.point {
  font-family: $font-family;
  font-size: $font-size + px;
  text-anchor: middle;
  fill: $font-color;
}

.cell {
  &.focus {
    stroke: #ff0 !important;
    fill: #ff0 !important;
  }
}
